.App {
  text-align: center;
  background-color: #f3f3f3;
  width: 25rem;
  height: 60vh;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0 8px 15px -2px rgba(0, 0, 0, 0.2);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
}
